[pull]
  rebase = true

[include]
  path = ~/.gitconfig.local
  path = ~/.gitconfig.aliases
  path = ~/.gitconfig.tools

[init]
  defaultBranch = main

[color]
  ui = auto

[advice]
  statusHints = false

[diff]
  renames = copies
  mnemonicprefix = true

[core]
  whitespace = trailing-space,space-before-tab

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[push]
  autoSetupRemote = true
