Xft.dpi:       75
Xft.autohint:  false
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

*background:             #441c1c
*foreground:             #dacfb1
*fading:                 8
*fadeColor:              black
*cursorColor:            #BF4144
*pointerColorBackground: #2B2C2B
*pointerColorForeground: #1ABB9B

*color0:   #170200
*color1:   #c14716
*color2:   #7cc333
*color3:   #d7b231
*color4:   #669382
*color5:   #9f6175
*color6:   #738e7b
*color7:   #c0c2b5
*color8:   #605e51
*color9:   #ce6142
*color10:  #b6c773
*color11:  #ebd035
*color12:  #b3bcb0
*color13:  #ba7a87
*color14:  #97a294
*color15:  #fff0e2

Xcursor.theme: xcursor-breeze
Xcursor.size:                     0

